<h1>About the "Habit Animal" App</h1>
<p>This is an app idea that I'm using to reaquire my Rails/Javascript and general webdev skills.</p>
<p>After the web based application is in good working order, I (we) are going to take it to mobile.</p>
