<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
	<div class="description">
		<p>We are all creatures of habit. Don't believe it?! Well, more and more <a href="https://www.psychologytoday.com/blog/creatures-habit/200907/we-are-creatures-habit">people are saying it</a>.</p>
		<p>The point is that our habits define us, and being able to have a better understanding of what we do can be insightful
		and interesting.</p>
		<p>That's the reason behind this app. Track your habits... good ones (exercise, teeth brushing, sleep) and bad ones (cigarrettes,
		nail bitting)</p>
		<p>Don't wait, start today! <%= link_to "Sign Up", signup_path %>
	</div>
</div>
<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
	<%= render 'shared/login' %>
</div>
