<h1 class="text-center">The ActivityTracker App</h1>

<div class="col-md-5 col-md-offset-1">
	<p>This app is app that I've been working on to improve my skills in web development in particular Ruby on Rails.</p>
</div>
<div class="col-md-5 col-md-offset-1">
	<%= render 'shared/login' %>
</div>
