<h1 class="text-center">The ActivityTracker App</h1>

<div class="col-md-5 col-md-offset-1">
	<br />
	<br />
	<button>About The App</button>
	<br />
	<p class="hide">This app is app that I've been working on to improve my skills in web development in particular Ruby on Rails.</p>
	<p class="hide">The idea is to track your habits over a period of time to better understand yourself.</p>
</div>
<div class="col-md-5 col-md-offset-1">
	<%= render 'shared/login' %>
</div>
