<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
	<table class="table">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">Tracking since:</th>
				<th scope="col"># Entries</th>
			</tr>
		</thead>

	<% if @activities.any? %>
			<% @activities.each do |activity| %>
					<tr>
						<td><%= link_to "#{activity.name} [#{activity.units}]", [activity.user, activity] %></td>
						<% if activity.entries.empty? %>
							<td></td>
							<td></td>
						<% else %>
							<td><%= activity.entries.order(:date).first.date %></td>
							<td><%= activity.entries.count %></td>
						<% end %>
					</tr>
			<% end %>
	<% else %>
		<tr>
			<td>You aren't tracking any activities!</td>
			<td></td>
			<td></td>
		</tr>
	<% end %>
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	</table>
	<%= link_to "Add New", new_user_activity_path(current_user), remote: true, id: "toggle_new_activity" %>
</div>
