<h1 class="text-center">Welcome to your Activity Tracker.</h1>

<div class="col-md-6">

	<h3>Your tracked activities:</h3>

	<table class="table">
	<% if @activities.any? %>
			<% @activities.each do |activity| %>
					<tr>
						<td><%= link_to "#{activity.name} [#{activity.units}]", [activity.user, activity] %></td>
					</tr>
			<% end %>
	<% else %>
		<tr>
			<td>You aren't tracking any activities!</td>
		</tr>
	<% end %>
	<tr>
		<td></td>
	</tr>
	</table>
	<%= link_to "Add New Activity", new_user_activity_path(current_user), remote: true, id: "toggle_new_activity" %>
</div>
