@import "bootstrap-sprockets";
@import "bootstrap";
/* navigation */

.navbar-text {
	margin-left: 20px;
}
/* forms */
label, .btn {
	margin-top: 10px;
}
.alert {
	margin-top: 10px;
}
.edit_entry_textbox {
	width:40px;
}

/* general */

.main {
	padding-top: 50px;
	padding-bottom: 100px;
}
.description {
	margin-top: 100px;
}

/* for mobile */

/* xs < 768 */
@media screen and (max-width: 767px) {
    body {
        font-size: 5vw;
    }
		.description {
			margin-top: 20px;
		}
}

