@import "bootstrap-sprockets";
@import "bootstrap";

/* forms */
label, .btn {
	margin-top: 10px;
}
.navbar {
	padding-bottom: 100 px;
}
.alert {
	margin-top: 10px;
}
.navbar li.navbar-text {
	color: #1E90FF;
}
