<div class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="container text-center">	
			<ul class="nav navbar-nav">
				<li><%= link_to "About", "#" %></li>
				<li><%= link_to "Contact", "#" %></li>
			</ul>
		</div>
</div>

