<footer class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="col-md-2 col-md-offset-5">
		<div class="text-md-center">
			<%= link_to "About", about_path, class: "navbar-text" %>
			<%= link_to "Contact", contact_path, class: "navbar-text" %>
		</div>
	</div>
		<ul class="nav navbar-nav navbar-right">
			<li class="navbar-text">cjw development</li>	
		</ul>
</footer>
